@charset "utf-8";
/* CSS Document */
 

/*--1 : Main elements-------------------*/

html {
	height: 100%;
	text-align: center;
	font-size: 100%;
}

body {
	font-family: a	Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.1;
	height: 100%;
	width: 100%;
	text-align: left;
	margin:0;

}
/*-----------------Main elements -----------------*/
.bande {
	width: 100%;
	clear: both;	
	position:relative;
}
.container {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	padding-bottom:30px; 
}
.half {
	width:50%;
}
.third {
	width: 33.30%;
	
}
.four {
width: 40%;
}
.twenty {
	width: 20%;	 
}
.six {
	width:60%;
	display:table-cell;
}
.left {
	float:left;
}
.right {
	float: right;
}
.last{
	float:right;
}
.btm {
	margin-bottom:50px;	
	overflow:hidden;
}
/*-------------------------------------*/
.fond {
	background:url("../images/fond.jpg");
	background-position: center;
	background-color: #FF530D;
	min-height :65vh;
	padding-top:150px;
}
.fondPanier {
 background:url("../images/Mens-Health.jpg");
	background-position: center;
	background-color: #23bcc5; 
	padding-top:50px;

}
.total{ 
	background-color: #23bcc5; 
	border-radius: 5px;
	padding:20px;
	text-align:right;
	color:#FFF;
	font-size:1em; 
	width:20%;
	float:right;
	text-align:center;
	font-weight:bold;
}
header{ 
	height:30px;
}
/*-------------------------------------*/
.hidden {
	display: none;
}
.alerte {
	color: #FF0004;
	font-weight:bold;
}
.retrait {
	padding: 40px 20px;
}
.div50px {
	padding: 50px 0; 
}

/*-------------------------TEXT--------------------------*/
h1,h2,h3,h4,h5 {
	font-family: 'Pacifico', cursive;
}
h1 {

	font-size:6em;
	font-weight: normal; 
	line-height:1;
	text-align:center;
	color:#000;
}
.pages {
	padding:50px 0;
	font-size:3em;
	font-weight: normal;
	text-align:left;
}
h1 span { 
	color:#FFF;
	font-weight: normal; 
}
h1.panier {
	font-family: 'Pacifico', cursive;
	font-size:2em;
	font-weight: normal; 
	line-height:1;
	text-align:left;
	display:inline-block;
	width:30%;
}
 
.title {
	color:#c99d66!important;
	margin-left:20px !important;
	font-size: 1em !important;
}
h2 {
	font-size:2em;
	font-family: 'Pacifico', cursive;
	font-weight: normal; 
	border-bottom: dotted 1px #CCC;
}
h2 span {
	color:rgb(232, 12, 12);
}
h2:after {
    /*content: "";
    display: block;
    height: 3px;
    background-color: #E80C7A;
    width: 680px;*/
}
h3 {
	font-size:1.6em;
	font-weight: normal; 
}
h3 span {
	font-size:0.5em;
	color:#00ffff;
	background:#FF3300; 
}
h4 {
	font-size:1.2em;
	font-weight:normal;
}
.after:after {
	content: "";
    display: block;
    height: 4px;
    background-color: #000;
    width: 80%;
    margin-bottom: 15px;
    margin: 0 auto;

}
h5 {
	font-size:1.3em;
	font-weight: normal;  
	text-align:center;
}
 h5:after {
	content: "";
    display: block;
    height: 3px;
    background-color: #333333;
    width: 250px;
    margin-bottom: 15px;
    margin: 0 auto;
} 
.icon{
    text-align: center;
}
/*------------------------------NAV A---------------------------*/
nav { 
    float: right;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;

}
nav ul {
    list-style-type: none;
    float: right; 
}
nav ul li {
    float: left;
    width: auto;
    padding: 8px 12px;
    margin-right: 15px;
}

nav ul li a {
	color:#000!important;
	font-weight:bold;
}
nav ul li a:hover {
	color:#FF530D!important;
	font-weight:bold;
}

a {
	color:#FFF;
	text-decoration: #112131;
	text-decoration-style: wavy;
}
a:hover {
    color:#112131; 
}
/*------------------------------BORDER INDEX--------------------*/

.borderleft {
	border-left:solid 1px #FFF;
	padding-left:20px;
}
.borderight {
	border-right:solid 1px #FFF;	
	padding-right:20px;
}

/*------------------------------TEXT-----------------------*/
.center {
	text-align:center;
}
.center i {
	display: block;
	font-size:48px;
}
.txtright {
	text-align:right!important;
}
.justify {
	text-align:justify;
	padding: 0 20px;
	font-size:1em!important;
}
/*------------------------------COLORS / panpans-----------------------*/
.deepurple{
		background-color:#112131!important;
}
.white {
	color:#FFF!important;
}
.check {
		/*background:url("../images/check.png") repeat;*/
}

.grey {
	background-color: #F1F1F1;
	transition: background-color 1s;
}
.grey:hover {
	box-shadow: inset 5px 2px 10px 3px rgba(0, 0, 0, 0.2);
	background-color: #dbdbde;
}

.exp {
	padding-bottom:30px;
	border-bottom: dotted 1px #CCC;
}
.loisirs{
	padding:70px 20px;
	border-bottom: dotted 1px #CCC;
}
.loisirs p {
	padding-bottom:30px;
}
.bck {
	/*background:url("images/checksmall.png") repeat;*/
	border-top: solid 1px #000;
}
.lo {
	position: absolute;
	z-index: 1;
	text-align: center;
	bottom: -70px;
	right: 20%;
}
.prix {
	margin-top:20px;
	background-color: #fb8400;
	border-radius:50%;
	height:100px;
	width:100px; 
	text-align: center;
	line-height: 1.1;
	color:#FFF; 
}
.prix span {
	font-size:1.8em;
	text-align: center;
	padding-top:20px;
    display: block;
}
.article {
	padding-bottom:15px; 
	clear:both;
	padding-top:20px;
	overflow:hidden; 

}
.more{
	border-bottom: #c99d66 solid 1px;
	clear:both;
	padding:15px 0; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight:600;
	margin-bottom:20px; 
}
.titrePanier{ 
	background-color:#dfd6cb!important;
	clear: both;
	overflow: hidden;
	border-radius:5px;
	padding:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em; 
}
.article h4 {
	color:#c99d66;
	border-bottom: #c99d66 dotted 1px;
}
.article img {
	width:9em;
	border-radius: 28px;
	border: #c99d66 solid 4px;
	box-shadow: 5px 2px 10px 3px rgba(0, 0, 0, 0.3);
	display:block;
	margin: 0 auto;
}
.article p{
	font-size:0.8em;
}
.delete{
	width:auto!important;
	/*border-radius: none!important;*/
	border:none!important; 
	padding-top:30px;
	box-shadow:none!important;
}
/*---------------PHOTO---------------------*/
.pictureRed {
	position: absolute;
	z-index: 1;
	text-align: center;
	top: -100px;
	right: 15%;
	/*background-color:#ff3300;*/
	background-color: rgb(255,51,0);
	width:10%;
	overflow:hidden; 
	border:solid 5px #FF3300;
}

.imgRed {
	opacity:0.1; 
}

.pictureRed:hover .imgRed {
	display:block;
	width:100%;
	height:auto;
	opacity:1;
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
 	transition: opacity 1s ease-in-out; 

	}
/*------------------------------LISTES / PROGRESS----------------------*/

 
ul {
	list-style-position: inside;
}
.nolist {
	list-style-type: none!important; 
	padding: 0 0 0 20px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #41b9bb;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}
 
.progress {
	width:80%;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F1F1F1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


/*------------------------------FORMULAIURE----------------------*/


.contact { 
	padding: 20px; 
	overflow:hidden;
	border-radius:3px;
	color: #000!important; 	 
	border:solid 2px #c99d66;
}
.contact p {
	text-align: left;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact textarea {
	width: 95%;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	border: solid 1px #000;
	color: #CCC!important;
	font-size:1em;
	font-weight:600;
	border-radius:3px;
}
.contact textarea {
	width: 95%
}
.contact input[type="submit"] { 
    background-color: #000; 
    font-size: 16px;
    font-weight: normal;
    float: right; 
    cursor: pointer;
    width: 30%;
    border: none;
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #FFF;
    margin: 15px 25px 0 0 ;
}

.contact fieldset { 
    padding: 2px;
    border: none;
}
.alert {
	color: #D10B0E;
	/*font-size: bold;*/
}
  .contact select {
  	padding: 8px;
    border: solid 2px #000;
    border-radius: 10px; 
    font-size:24px;
    font-weight:bold;
    color:#666666;
    margin-bottom:15px;
}
 
 
/*------------------------------FOOTER---------------------------*/
footer {
		background-color:#112131;
		padding:30px;
		overflow:hidden;
		color:#FFF;
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}
 