@charset "utf-8";

body {
    line-height: 1.5;
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
    background-color: #FFF !important;

}

/*---------------------------------*//
.top-right a {
    color:#000!important;
}
.fond {
    background: url("../images/fond.jpg");
    background-position: center;
    background-color: #FF530D;
    min-height: 65vh;
    padding-top: 150px;
    margin-bottom: 50px;
}
.home {
    font-size:1.4em;
}
h1, h2, h3, h4, h5 {
    font-family: 'Pacifico', cursive;
}

h1 {
    text-align: center;
    color: #000;
}

.pages {
    padding: 50px 0;
    font-size: 3em;
    font-weight: normal;
    text-align: left;
}

h1 span {
    color: #FFF;
    font-weight: normal;
}

h1.panier {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    display: inline-block;
    width: 30%;
}

.title {
    color: #c99d66 !important;
    margin-left: 20px !important;
    font-size: 1em !important;
}

h2 {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    border-bottom: dotted 1px #CCC;
}

h2 span {
    color: rgb(232, 12, 12);
}

h3 {
    font-size: 1.6em;
    font-weight: normal;
}

h3 span {
    font-size: 0.5em;
    color: #00ffff;
    background: #FF3300;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
}

.after:after {
    content: "";
    display: block;
    height: 4px;
    background-color: #000;
    width: 80%;
    margin-bottom: 15px;
    margin: 0 auto;

}

h5 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 25px
}

h5:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #52697F;
    width: 250px;
    margin: 0 auto;
}

h5 span {
    color: #0082FF;
}

.icon {
    text-align: center;
}

.fa-eye, .fa-edit, fa-trash-alt {
    color: #000
}
.btn-primary{
    background-color:transparent;
    border:none;
    color:#000;
}
.btn-primary:hover{
    background-color:#CCC;
    border:none;
}

.delete {
    width: 15%;
    height: auto;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

#suppr {
    display: block !important;
    margin: 0 auto !important;
    color: #red;
}

.imgbasket {
    height: 110px;
    min-width: 90px;
    border-radius: 5px;
    border: solid 1px #000;
}

/*--------------------*/
/*		MODIFICATION BOOTSTRAP 			*/
.container {
    margin-bottom: 50px;
}
.card {
    background-color: #182f44;
}

.card-body {
    border: solid 1px #000;
}

.bg-light {
    background-color: #ff5c57 !important;
}

a {
    color: #000 !important;
}

nav {
    height: 80px;
    margin-bottom: 20px;
}

.nav-link {
    font-weight: 600;
}

.nav-link > a {
    color: #000 !important;
}

.btm {
    margin-bottom: 100px;
}

hr {
    border: solid 1px #FFF;
}

/*------------------------------FOOTER---------------------------*/
footer {

    background-color: #112131;
    padding: 30px;
    overflow: hidden;
    color: #FFF;
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(-8%);
    }
    65% {
        transform: translateX(4%);
    }
    80% {
        transform: translateX(-4%);
    }
    95% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}


.noire {
    color:black;
}